*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#D6D6D6;
}
.productpart h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:200px;
    font-size:50px;
    text-align: center;
}
.productpart .h6font{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-weight: 600;
}
.productpart .product{
    display:block;
    width: 75%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.productpart #latestpic1{
    background-image: url("../assets/BG1.png");
    background-position: center;
    background-size: cover;
}
.productpart #latestpic2{
    background-image: url("../assets/BG2.png");
    background-position: center;
    background-size: cover;
}
.table{
    border:1px;
}
@media screen and (max-width: 800px){
    .Part1 h2{
        font-size:40px;
        margin-top:0;
    }
    .Part1 .product{
        width: 50%;
        height: auto;
    }
    .Part1 h5{
        font-size:20px;
    }
    #Part1 th, td, #names{
        font-size:18px;
    }
}
